.outter_box {
  margin: 1rem 0;
  width: 100%;
  /* border: 2px solid red; */
  height: 35rem;
  display: flex;
  justify-self: center;
  align-self: center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 3rem;
}

.upper {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 1rem 2rem;
}

.lower {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 1rem 2rem;
  overflow: hidden;
}

.right {
  width: 50%;
  padding-left: 3rem;
  border-left: 1px solid gray;
}

.upper input,
.lower input {
  border: 1px solid var(--primary);
  background-color: transparent;
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-radius: 0.2rem;
  color: var(--foreground);
  font-size: 1.1rem;
}

.options {
  border: 1px solid var(--primary);
  border-radius: 0.2rem;
  display: flex;
  height: 3rem;
  margin: 0.5rem 0rem;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}

.icon {
  width: 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upi {
  display: flex;
  height: 10rem;
  flex-direction: column;
  padding: 1rem 3rem;
}

.upi_warp {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.expiry_warp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expiry_warp input{
  width: 48%;
}

.input_warp{
  justify-content: space-between;
}

.upi_warp div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 2rem;
  padding: 0.2rem;
  margin: 0.3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  border: 1px solid var(--foreground);
  cursor: pointer;
}

.upi_warp div:hover {
  border: 3px solid var(--primary);
}


.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

@media (max-width: 900px) {

  .left{
    padding-right: 0;
  }

  .right{
    padding-left: 0;
  }

}

@media (max-width: 650px) {

  .outter_box{
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
  }

  .left,.right{
    width: 30rem;
  }

  .right{
    border: none;
  }

  .lower,.right,.left,.upper{
    border: none;
    height: fit-content;
    max-height: 100%;
  }



}

@media (max-width: 500px) {
  .left,.right{
    width: 100%;
  }

  .expiry_warp{
    flex-direction: column;
    align-items: flex-start;
  }

  .outter_box{
    height: fit-content;
    margin-bottom: 0;
  }
}


