.checkout {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  justify-self: center;
  /* border: 1px solid white; */
  /* border-right: 1px solid white; */
}



.details{
  display: flex;
  width: 100%;
  height: 27rem;
  margin-top: 1rem;
  /* border: 2px solid gold; */
  justify-content: space-between;

}

.left{
  width: 60%;
  overflow: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.left:hover{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.left::-webkit-scrollbar {
  width: 2px;
}

 
.left::-webkit-scrollbar-thumb {
  background: var(--primary); 
}

.left::-webkit-scrollbar-thumb:hover {
  background: var(--primary-foreground); 
}

.right{
  width: 30%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid gray; */
  padding: 1rem 0;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.1rem;
}

.temp_text{
  display: none;
}

@media (max-width: 850px) {

  .wraper{
    width: 100%;
    padding: 0 2rem;
    overflow-y: scroll;
    /* border: 2px solid red; */
  }

  .wraper::-webkit-scrollbar {
    width: 0;
  }

  .details{
    margin-top: 0;
  }

  .checkout{
    padding: 0;
  }


  .details{
      flex-direction: column;
      height: fit-content;
  }

  .left{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;

  }

  .left,.right{
    width: 100%;
  }

  .left{
    height: fit-content;
  }

  .summary_txt{
    display: none;
  }

  .temp_text{
    display: block;
    color: var(--foreground);
    font-size: 1.1rem;
  }
  /* .details{
    overflow: scroll;
    overflow-x: hidden;
  } */

}