:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 10%, 3.9%);
  --primary: hsl(240, 5.9%, 10%);
  --primary-foreground: hsl(0, 0%, 98%);
}

.outter_main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.navbar{
  width: 100%;
  height: 5%;
  /* border-bottom: 1px solid gray; */
  align-items: center;
  display: flex;
  padding: 0 4%;
}


.inner_main {
  width: 1000px;
  min-height: 95%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1000px) {

  .inner_main{
    width: 100%;
  }

}